{% if page.categories contains 'central-america' %}
<section>
  <h1>Mittelamerika Spezial</h1>
  <ul>
    <li><a href="{{ root_url }}/central-america/">Mittelamerika Übersicht</a></li>
    <li><a href="{{ root_url }}/categories/central-america/atom.xml">RSS Feed der Mittelamerika-Posts</a></li>
    <li><a href="https://maps.google.de/maps?f=q&amp;source=embed&amp;hl=de&amp;geocode=&amp;q=Mare+Gailard,+Guadeloupe&amp;aq=&amp;sll=16.14963,-61.39705&amp;sspn=1.461532,2.559814&amp;ie=UTF8&amp;hq=&amp;hnear=Mare+Gailard,+Le+Gosier,+Grande-Terre,+Guadeloupe&amp;t=h&amp;ll=14.98724,-64.335937&amp;spn=12.710857,11.381836&amp;z=5" target="_blank">Standort in Google Maps zeigen</a></li>
  </ul>
  {% comment %}
  <iframe width="260" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.de/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=Mare+Gailard,+Guadeloupe&amp;aq=&amp;sll=16.14963,-61.39705&amp;sspn=1.461532,2.559814&amp;ie=UTF8&amp;hq=&amp;hnear=Mare+Gailard,+Le+Gosier,+Grande-Terre,+Guadeloupe&amp;t=h&amp;ll=14.98724,-64.335937&amp;spn=12.710857,11.381836&amp;z=5&amp;output=embed"></iframe>
  {% endcomment %}
</section>
{% endif %}