.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
.flickr-cache
_deploy
public
sass.old
source.old
source/_stash
source/stylesheets/screen.css
vendor
node_modules
*~
*.bak
*.min.js
source/stylesheets/

sass/base/_layout.scss
sass/base/_solarized.scss
sass/base/_theme.scss
sass/base/_typography.scss
sass/base/_utilities.scss
sass/partials/sidebar/_delicious.scss
sass/partials/sidebar/_googleplus.scss
sass/partials/sidebar/_pinboard.scss
sass/partials/sidebar/_base.scss
sass/partials/_footer.scss
sass/partials/_header.scss
sass/partials/_sidebar.scss
sass/partials/_archive.scss
sass/partials/_blog.scss
sass/partials/_navigation.scss
sass/partials/_sharing.scss
sass/partials/_syntax.scss
sass/_base.scss
sass/_partials.scss
sass/plugins/_plugins.scss
sass/screen.scss
source/_includes/post/author.html
source/_includes/post/categories.html
source/_includes/post/date.html
source/_includes/post/disqus_thread.html
source/_includes/post/sharing.html
source/_includes/footer.html
source/_includes/google_analytics.html
source/_includes/google_plus_one.html
source/_includes/header.html
source/_includes/navigation.html
source/_includes/asides/delicious.html
source/_includes/asides/github.html
source/_includes/asides/googleplus.html
source/_includes/asides/pinboard.html
source/_includes/asides/recent_posts.html
source/_includes/after_footer.html
source/_includes/archive_post.html
source/_includes/article.html
source/_includes/disqus.html
source/_includes/facebook_like.html
source/_includes/head.html
source/_includes/twitter_sharing.html
source/_layouts/default.html
source/_layouts/category_index.html
source/_layouts/page.html
source/_layouts/post.html
source/assets/jwplayer/glow/controlbar/background.png
source/assets/jwplayer/glow/controlbar/blankButton.png
source/assets/jwplayer/glow/controlbar/divider.png
source/assets/jwplayer/glow/controlbar/fullscreenButton.png
source/assets/jwplayer/glow/controlbar/fullscreenButtonOver.png
source/assets/jwplayer/glow/controlbar/muteButton.png
source/assets/jwplayer/glow/controlbar/muteButtonOver.png
source/assets/jwplayer/glow/controlbar/normalscreenButton.png
source/assets/jwplayer/glow/controlbar/normalscreenButtonOver.png
source/assets/jwplayer/glow/controlbar/pauseButton.png
source/assets/jwplayer/glow/controlbar/pauseButtonOver.png
source/assets/jwplayer/glow/controlbar/playButton.png
source/assets/jwplayer/glow/controlbar/playButtonOver.png
source/assets/jwplayer/glow/controlbar/timeSliderBuffer.png
source/assets/jwplayer/glow/controlbar/timeSliderCapLeft.png
source/assets/jwplayer/glow/controlbar/timeSliderCapRight.png
source/assets/jwplayer/glow/controlbar/timeSliderProgress.png
source/assets/jwplayer/glow/controlbar/timeSliderRail.png
source/assets/jwplayer/glow/controlbar/unmuteButton.png
source/assets/jwplayer/glow/controlbar/unmuteButtonOver.png
source/assets/jwplayer/glow/display/background.png
source/assets/jwplayer/glow/display/bufferIcon.png
source/assets/jwplayer/glow/display/muteIcon.png
source/assets/jwplayer/glow/display/playIcon.png
source/assets/jwplayer/glow/dock/button.png
source/assets/jwplayer/glow/playlist/item.png
source/assets/jwplayer/glow/playlist/itemOver.png
source/assets/jwplayer/glow/playlist/sliderCapBottom.png
source/assets/jwplayer/glow/playlist/sliderCapTop.png
source/assets/jwplayer/glow/playlist/sliderRail.png
source/assets/jwplayer/glow/playlist/sliderThumb.png
source/assets/jwplayer/glow/sharing/embedIcon.png
source/assets/jwplayer/glow/sharing/embedScreen.png
source/assets/jwplayer/glow/sharing/shareIcon.png
source/assets/jwplayer/glow/sharing/shareScreen.png
source/assets/jwplayer/glow/glow.xml
source/assets/jwplayer/player.swf
source/images/bird_32_gray.png
source/images/bird_32_gray_fail.png
source/images/code_bg.png
source/images/dotted-border.png
source/images/email.png
source/images/line-tile.png
source/images/noise.png
source/images/rss.png
source/images/search.png
source/javascripts/libs/jquery.min.js
source/javascripts/libs/jXHR.js
source/javascripts/libs/swfobject-dynamic.js
source/javascripts/github.js
source/javascripts/modernizr-2.0.js
source/javascripts/octopress.js
source/javascripts/pinboard.js
source/javascripts/twitter.js
source/robots.txt
source/atom.xml
source/blog/archives/index.html
source/favicon.png
source/index.html
.editorconfig
