---
# kate: hl markdown;
title: "Wasserfälle und Vulkan in Basse-Terre"
date: 2013-04-29 20:02
comments: true
tags: [central-america, german, travelling]
lang: de
layout: post-carribeans
---

<%= figure_tag '/images/central-america/waterfall-stairways_thumb.jpg', title: 'Basse-Terre: Tropischer Wald.' %>
{:.pull-right}

Ich bin jetzt bald einen Monat auf Guadeloupe und habe natürlich schon einiges
von der Insel gesehen. Sehr spektakulär waren bislang die Ausflüge nach Basse-Terre,
der westliche Flügel der Schmetterlingsinsel Guadeloupe. Entgegen der Namensgebung
befindet sich auf Basse-Terre der höchste Berg der kleinen Antillen, der Vulkan
[La Soufrière](http://de.wikipedia.org/wiki/Soufri%C3%A8re_%28Guadeloupe%29).
Da am Vulkan häufig die Wolken hängen bleiben und dort abregnen, regnet es dort
viel häufiger als auf dem östlichen Inselflügel Grande-Terre. Dementsprechend
ist es wesentlich grüner. Der üppige tropische Wald spendet zudem eine erfrischende
Kühle, die ich in Grande-Terre jetzt wieder vermisse, seitdem nach einer sehr
verregneten Woche hier wieder schönes Wetter ist.

<!-- more -->

### Wasserfälle

Basse-Terre ist ein einziges Gebirgsmassiv der Fläche Berlins umrandet von einer
Küstenstraße an die sich gleich der Strand anschließt. Ja, es gibt auch noch ein
paar kleine Orte und eine Ost-West-Straße durch die Berge. Wenn es nun dort soviel
regnet, muss das Wasser ja irgendwie Richtung Meer gelangen. Natürlich fällt es
auf diesem Weg auch einmal ein Stück. Es gibt also einige Wasserfälle. Diese sind
touristisch sehr gut erschlossen. Ein sauber gepflasterter Weg führt einen in das
Inselinnere an die Wasserfälle. Der Weg ist feinsäuberlich gefegt. Dafür zahlt
man auch 1,70€ Wegezoll. Ein Highlight ist etwas bergabwerts ein Becken, in dem
sich das klare Gebirgswasser sammelt.

<div class="clearfix" />

<%= figure_tag '/images/central-america/waterfall-pool_thumb.jpg', title: 'Ein natürlicher Pool mitten im Wald.' %>

Die Wasserfälle sind *die* touristische Attraktion der Insel. An keinem anderen
Platz habe ich soviele Touristen getroffen.

### Vulkan

Warum ist eigentlich der Vulkan nicht ebenso übervölkert? Vielleicht liegt es daran,
dass der durchschnittliche, betuchte französische Tourist schon etwas in die Jahre
gekommen ist und sich den Aufstieg nicht mehr zumuten möchte. Tatsächlich ist der
Aufstieg schon etwas abenteuerlich.

<div class="clearfix" />

<%= figure_tag '/images/central-america/volcano-noview.jpg', title: 'Nur selten im Jahr öffnen sich die Wolken, die den Vulkan umgeben.' %>

<%= figure_tag '/images/central-america/volcano-summit_thumb.jpg', title: 'Gipfelphoto (Bitte weitergehen: <br/> So hoch war der Berg schließlich nicht.' %>
{:.pull-right}

Nachdem die letzte Ebene erreicht ist, die mit Auto noch hätte erreicht werden können,
hüllt sich der Vulkan gänzlich in Wolken. Auf dem Gipfel angekommen, befindet man sich
knapp über den Wolken (zumindest am Tag meines Aufstiegs). An ein Hinauf oder
Herunterphotographieren ist nicht zu denken. Der Aufstieg selbst ist in einer Stunde
zu schaffen, wenn man sich beeilt. Oben angekommen wird schnell ein Gipfelphoto geschossen
und das Plateau inklusive Vulkankrater erkundet. Ein Krater ist zugänglich, ein weiterer
ist weiträumig abgesperrt – der giftigen, austretenden Gase wegen. Diese sind auch
von weitem schon zu bemerken. Für die Zuhause-Gebliebenen mache ich schnell noch ein Video –
leider lässt sich das Zischen des Gases sowie der schwefelige Geruch nicht festhalten. Das
müsst ihr euch einfach dazu denken.

<div class="clearfix" />

<div class="thumbnail" markdown="0" style="width: 650px">
  <iframe width="640" height="360" src="//www.youtube.com/embed/UZjjrKRXH9A?HD=1;rel=0;showinfo=0;controls=1" frameborder="0" allowfullscreen></iframe>
  <div class="caption">Gipfel des Vulkans La Soufrière. Auf <a href="http://youtu.be/UZjjrKRXH9A">Youtube</a> sehen.</div>
</div>

<% figure_tag '/images/central-america/volcano-smoke.jpg', title: 'Immerhin ist es ein richtiger Vulkan – es qualmt und stinkt.' %>

Alsbald fängt es auch schon an zu regnen. Zum Glück gibt es einen Bunker auf dem
Gipfel. Dort versammelt sich schnell eine größere Gemeinschaft an Gipfelstürmern.
Nach über einer Stunde lässt der Regen endlich nach.

<% figure_tag '/images/central-america/volcano-shelter.gif', title: 'Mit Aussicht auf Regen.' %>
{:.pull-right}

Wir folgen dem Wasser auf seinem Weg nach unten. Sprichwörtlich. Der nun glitschige Pfad
nach unten ist mir nicht ganz geheuer. Ich frage mich, wie die Eltern mit ihren 4 Jahre
jungen Kindern heruntergekommen wären, die mir beim Aufstieg entgegengekommen sind.
Noch vor Einbruch der Dunkelheit ist der Fuß des Berges erreicht. Da meine Mitfahrgelegenheit
leider meinen Weg nicht teilt, fahre ich mit dem Bus nach Hause. Dabei habe ich mein
StreetView-Video aufgenommen. Zeit hatte ich genug, wir sind schließlich an keinem noch
so kleinen Dorf vorbeigefahren – so hat die Tour nach Hause „schlappe“ 3,5 Stunden gedauert.
Und auch nur, weil ich das letzte Stück dann doch noch per Anhalter gefahren bin.
