---
title: Questionable WikiStage
date: 2014-05-08 23:45 CEST
kate: hl markdown;
lang: en
tags:
 - big-data
 - wikistage
keywords:
 - Questionable WikiStage
 - WikiStage
 - What is WikiStage
 - disadvantageous WikiStage
 - License
 - OpenSource
 - Free Open Knowledge
description: >
  WikiStage aims to be a platform to share curiosity and knowledge using short
  video clips. I argument why you should not contribute to WikiStage in its
  current state.
---

<%= figure_tag '/images/wikistage.jpg', title: 'Logo WikiStage. &copy; 2014 wikistage.org' %>{:.pull-right}
**Recently, the project [WikiStage] was brought to my attention. I had a closer
look in the meanwhile and I have to admit that I do not share the enthusiasm
about it. I write this article to explain my concerns and hope for a fruitful
discussion.**

Short summary: Do not consider WikiStage for contribution!

Let's have a closer look.

<!-- more -->

## What is WikiStage?

To answer this question, you may want to check out their visually very attractive
website <http://www.wikistage.org>. Somewhere in the [middle](http://www.wikistage.org/#5)
of their page you find the following statement.

> Events and videos - and a big dream:  
> to collaboratively create an interdisciplinary and multilingual video library of questions

This is not really helpful. The founder Johannes Bittel had probably rather a
library to answer questions in mind, than the set of questions alone.

To get a better understanding, an explainatory [Youtube video][video_intro] is provided.
The invitation to read about WikiStage in their blog takes you to an empty error page,
but a valid link is provided in the very bottom of their site: <http://wikistage.tumblr.com>[^3].

I will try to summarise the concept with my own words. The idea of
WikiStage is to provide an audience to someone to give a talk about an isolated aspect
(question) to make the audience (curious to) learn more. The chance to step up to
give a talk is especially brought to “brilliant people [that] have never spoken at a conference before”[^1]. Speakers are asked to practive their talk beforehand.
The talk is recorded, edited and published on Youtube[^3].

[^1]: <http://wikistage.tumblr.com/post/57413308990/how-wikistage-was-born>

So far, it sounds like a nice child project. The idea reminds me a lot on different
other projects.

* [TED] (short presentations about Technology, Entertainment, Design)
* [MOOC] (Massive open online course) in general
* Popular Science Café in particular (organised by Couchsurfers in Berlin)
* Science Slams / Einstein Slams (all over the world, e.g. from [Berlin][ss])
* [Treize Minutes] (Paris, Marseille, see [videos](http://vimeo.com/treizeminutes))

[TED]: https://en.wikipedia.org/wiki/TED_%28conference%29
[MOOC]: https://en.wikipedia.org/wiki/MOOC
[Treize Minutes]: http://www.treizeminutes.fr
[ss]: http://www.scienceslam.de/was-ist-ein-science-slam

In the following I would like to address some issues that keep me from sharing
the enthusiasm.

## How does WikiStage differ from others?

So what makes WikiStage special? This question is supposed to get answered in
a [dedicated blog post](http://wikistage.tumblr.com/post/57437870868/wikistage-how-is-it-unique).
The difference between the inspiration Wikipedia and WikiStage is obvious. The
difference between TED and and WikiStage is more delicate. It is argued that
the selection of speakers for TED is much more competitive and the presenting enterprise
much more powerfull (both in influence and financial means).

I agree. When I try to think of a community driven project, it wouldn't be TED to
come in my mind. Alternatives are always good and might lead to better innovations.

Unfortunately this seems to me a crucial missing point. Having a look on the
listed speakers at <http://essec.wikistage.org/>, one finds mostly business people,
directors and professors of the hosting business school. I doubt that these speakers
“have never spoken at a conference before”. The topic-wise view angle seems to
be rather limited to the curriclum of the hosting school. So far, the difference
to TED is rather small.

## Who is owning WikiStage and its videos?

In comparison with Wikipedia, Treize Minutes and at least the
Massive Open Online Courses (MOOCs) offered by the [France Université Numerique][fun],
WikiStage has even a huge drawback. It is not clear at all who is behind WikiStage.

All three mentioned projects indicate very clearly that the content can be freely
used and distributed under a [Creative Commons][cc] license[^2].

[^2]: FUN: <https://www.france-universite-numerique-mooc.fr/courses/CNAM/01005/Trimestre_2_2014/about>   
      Wikipedia: <https://en.wikipedia.org/wiki/Wikipedia:About>   
      Treize Minutes: <http://vimeo.com/90459425>

So I was investigating the conditions that apply to WikiStage. The videos are solely
hosted on their [Youtube account][youtube_user]. (I wonder if they receive an
income by advertisements.) Youtube allows to specify the license. Unfortunately,
not a free one was chosen.

I go back to their own page and look for the legal notices to learn more about
the copyright. I could not find anything. On the very bottom, "Copyright 2014"
is stated. I can only guess, that the entity "WikiStage" is the holder of the
copyright. In the German jurisdiction internet pages are required to announce
at least a responsible person and provide means to contact this person. The [whois
request][wr] reveals that the website is registered in the United States.
A US address and phone number of the founder is included as well.

[wr]: http://whois.domaintools.com/wikistage.org

Somewhere in the interweb I found that WikiStage is actually a registered Association
in France. I cannot find it anymore.

I would like to emphasise again the importance of a proper license for such a project.
Opensource software and open knowledge only started to gain momentum after the
license was already clear to assure the general availability of the
aggregated work of many people. Relicensing of existing content can be very
complicated. Thus, Contributor License Agreements (CLA) are often setup before
any content is accepted to ease this issue in the future. Otherwise, this can
become very cumbersome/impossible to do afterwards. However, I could not find
any information of such a CLA.

I would consider a proper license to be the minimum requirement to consider my
voluntary involvement to a project like this. I want to give you a nice
counter-example to illustrate the problem. Back in 2003 the hospitality network
Couchsurfing was founded. A project that aimed to bring people together by providing
a platform to exchange offers and searches for accommodation while travelling.
As an active Couchsurfer, I find the idea brilliant. It was for free – until
the founder decided in 2011 to take the platform, that has been build by
volunteers only until then, and turn it into a for-profit platform. Venture
capital was raised and decisions were taken without agreement of the (original)
community to please share holders. A proper legal non-profit entity and a proper
license of the Couchsurfing platform could have prevented this step. This is
clearly a loss for the community that helped to establish Couchsurfing and made
it popular.

Assuming that we are a big WikiStage enthusiast, we will oversee this problem and
find out how we can contribute our own video. Very soon, it gets clear that WikiStage
actually does not address directly the speakers, but offers more a ready-to-use
brand to teams that want to host their own conferences. To do so, one has to
fill a demand and ask for a license that comes with certain obligations. The
[license] is hosted by Google[^3].

I missed the crucial part in the license where the non-profit purpose of WikiStage
is emphasised and the content attribution (to the public) is clarified. I find
the license very incomplete, it's sole purpose seems to protect the brand name.
Licensing the name “WikiStage Berlin” to sell hot sausages on Alexanderplatz
would totally comply with it.

## What means spreading curiosity?

The project aims to “spread curiosity”. So what does this mean? I watched the
WikiTalk given by Phil Waknell on [What are the secrets of a great WikiTalk?](https://www.youtube.com/watch?v=jT-H6UrinG0).
He explains his interpretation on how a WikiTalk is supposed to affect on the audiance.
I agree mostly with his recommendations when it comes to prepare a talk that is easy to
follow, but Phil goes far beyond that. He suggests talks that please the
audience—not to speak of advertising.

> You want to entertain.

This is a major difference to Wikipedia that aims to be an easy to understand
encyclopedia, but without any other intentions (no advertisement, neutral,
formal style of writing).

This reminds me on the criticism by Benjamin Bratton. He gave a TEDx talk on
[New Perspectives - What's Wrong with TED Talks][bratton_talk]. Among other things,
he raises doubts on the positive outcome of TED talks in general. His criticism
of distracting the audience from the real problems by giving oversimplified
infotainment talks seem to apply to WikiStage as well. Personally, I see that
the approach of very short, non-scientific talks with performance interludes
to keep the audience awake fits perfectly in our today's society that measures
everything in the length of tweets, Facebook status posts or “How I met your mother”
episodes. This is just another piece of evidence of the constant change of
our means of communication—in my opinion—to the worse.

It is left to answer: What are the consequences? Do we want to support this change?

## Conclusion

> “If I had only one hour to save the world, I would spend fifty-five minutes defining the question, and only five minutes finding the solution.” *– Albert Einstein*

This quote is taken from <http://speakers.wikistage.org/>. WikiStage has a very
appealing homepage and promotional videos that promise something really great, but
feature plenty of buzz words (see: [Urban Dictionary][buzz_word]), e.g. passion,
knowledge, uniqueness, curiosity, inspiration, sharing, fun, fun, fun. That the
audience is not listening anymore the [final important conlusion][balloons] of
the talk on how to talk, because they were supposed to play with balloons, is not
important anymore, because the “former chief evangelist of Apple, Entrepeneur
and Author” [already stated][apple] that WikiStage is a great idea.

I do not believe that the current state of the project justifies its prefix “wiki”.
There is no free license (e.g. [cc-by-na][cc] or [GFDL]) and it is difficult to
contribute. There are no guidelines given on how the community is supposed to work
together.

I wonder if the founders of this project read the quote of Albert Einstein. For
now, this seems to be a project to demonstrate capabilities in management and marketing.
The spirit of freedom of information and a vivid community did not emerge yet.

There are similar projects that went like this. There is <http://wikihow.com>, which
provides at least all content under a proper license. Another example is
<https://www.ehow.com>. Did you ever use these sites? I don't.

So why it is like this? Maybe the web search for “wikistage revenue” brought the
answer. On the website of the
[Youth Citizen Entrepeneurship Competition][ycec] you can find some explanations
that are missing on the official WikiStage websites:

<div class="well well-sm">
**Sustainability and future plans**

*Following the values of Wikipedia[^4], our non-profit association taps into
additional sources of revenue other than donations and crowd funding.
WikiStage Conferences creates revenue from ticket sales and event sponsoring.
Sponsors can selectively choose to support events that correspond to their
geographic focus or individual priorities. Further, we aim to obtain the traffic
that will allow us to sell specifically targeted advertising via our platform.
A biotechnology company could - for example - buy visibility in the biotech
section of our video library. WikiStage is and will always be a non-profit.
Nevertheless, we are set up with a profitable business model.*
</div>

Let's change something to prevent that WikiStage is taking the path to the next
global, commercial knowledge provider that turns public knowledge into restricted
values for sell[^5]. There is a reason, that still today the schools and
universities are supposed to be backed by tax payer's money and not the private
sector.

[WikiStage]: http://wikistage.org/
[video_intro]: //www.youtube.com/watch?v=mSVuQkocF_w
[youtube_user]: //www.youtube.com/user/WikiStage/videos
[fun]: https://www.france-universite-numerique-mooc.fr
[cc]: http://creativecommons.org/
[license]: https://drive.google.com/file/d/0B0PoAziD81QEbllpR2lId2NFVkE/edit?usp=sharing
[bratton_talk]: https://www.youtube.com/watch?v=Yo5cKRmJaf0
[balloons]: https://www.youtube.com/watch?v=jT-H6UrinG0&feature=youtu.be&t=14m00s
[apple]: http://youtu.be/mSVuQkocF_w?t=3m12s
[buzz_word]: http://www.urbandictionary.com/define.php?term=buzz%20words&defid=2892763
[cc-by-sa]: https://creativecommons.org/licenses/by-sa/3.0/
[GFDL]: https://www.gnu.org/copyleft/fdl.html
[ycec]: https://www.youth-competition.org/groups/entrepreneurship-competition-2013/contests/1/292
[^3]: People familiar with the [argumentation of Richard Stallman](https://www.gnu.org/philosophy/who-does-that-server-really-serve.html) realise the importance of own infrastructure.
[^4]: I always thought that Wikipedia solely relies on donations to stay independent.
[^5]: compare: <http://thecostofknowledge.com/>,  
      <http://gowers.files.wordpress.com/2012/02/elsevierstatementfinal.pdf>



