---
title: Plaidoyer pour la danse
date: 2015-01-31 14:23 CET
kate: hl markdown;
published: true
lang: fr
tags:
  - france
  - dance
---

<%= flickr_tag 6313173436, size: 'm', title: 'Lindy Shock 2011, Roumanie' %>{:.pull-right}

Pourquoi danser ? C’est un texte pour les gens qui n’ont jamais dansé ou
l’ont abandonné après peu. Lorsque je parle de danser, je pense à la danse sur la
musique tout seul, dans un groupe ou en couple qui ressemble à plus que
balancer ses pieds. `;)`

La danse et toute la culture qui s'en rapporte, peut ouvrir un monde très enrichissant
pour ceux qui sont loin de la sphère artistique dans leur vie professionnelle ou
dans leurs loisirs comme c'était le cas pour moi.

## Premiers pas

Je suis tombé gravement amoureux d'une fille à la fin du baccalauréat qui était
dans la même promotion comme moi. Elle était très sportive et un peu introvertie.
J'ai essayé de m'approcher en proposant de l'accompagner sur les sortis jogging
ou venir avec elle sur le cours de danse contemporaine. C'était ma première
expérience de danse – dans ce moment là cent pour cent contre ma nature – et dans
un cours exclusivement féminin. Elles
avaient déjà commencé le travail sur une choréographie. Je ne savais pas comment
suivre, comment bouger. Je savais vraiment rien. En allemand, on parle d'un saut
à eau froide[^1]. Je me suis senti très gêné en tant que seul mec et seul débutant.

[^1]: Avec ma colocation, on n’a pas trouvé un proverbe français qui veut dire
      la même chose. Je suis à l'écoute de vos propositions.

<!-- more -->      

Quoi faire ? Je ne voulais plus y aller. J’ai proposé ensemble de commencer un cours de
danse de salon. Un de mes meilleurs amis m’a proposé de demander dans
son école de musique pour connaître les conditions. Quelques semaines plus tard, un
autre élève m'a mis au courant que cet ami a commencé lui-même des cours avec ma
bien-aimée. J’étais en colère et j’ai abandonné l’idée de faire de cours de danse
au même moment.

<%= flickr_tag 10991554394, size: 'm', title: "Justin Timberlake performing in Tulsa at the BOK Center" %>{:.pull-left}
Pendant les premiers 3 ans à la fac, j'étais bien occupé. Ma petite amie de l’époque
ne s’intéressait pas du tout à la danse. Peut-être, je n'ai jamais demandé.
Puis, après notre rupture et plusieurs déménagement je me sentais complètement
perdu et je me suis mis à découvrir beaucoup de nouveaux activités. Un ami m’a raconté
de son expérience de Tango Argentin pendant son sejour Erasmus à Paris. Je n'avais
pas une espérance en particulier et je me suis inscrit au centre de sports de
l’université. J’ai suivi les cours avec une fille que je ne connaissait pas encore avant.
Elle me semblait toujours encore plus perdu que moi et toujours insatisfait dans
la dans globalité. Cela ne m’a pas beaucoup motivé à continuer. J’ai accepté quand-même
de commencer un autre cours débutant le semestre suivant avec une bonne amie Russe. Cela s’est beaucoup mieux
passé, mais il y avait toujours un peu d’embarras, parce que l’on n’a pas très bien
progressé. Le Tango, ce n’est pas facile. J’ai souvent pensé à abandonner les
séances.

Quelques mois plus tard, j’ai essayé de nouveau d’intégrer un cours de danse.
J'ai bien aimé la danse de Justin Timberlake dans la vidéo [My Love ft. T.I.] et
en général j’avais toujours été impressionné par les mouvements de Michael Jackson.
Au début du semestre, j’ai trouvé une offre pour faire des cours d’essai
dans l’école » D!s Dance School « qui est bien connu grâce à son directeur qui est
souvent intervenu dans les télécrochets de la télévision allemande. Malheureusement,
j’ai raté le cours d’essai de Hip Hop, mais on m’a proposé de revenir le lendemain pour
le cours » Video Clip « – cela serait presque la même chose. On ne m’a pas prévenu
que l'âge moyen des gens déjà inscrits était facilement 10 ans plus jeune que moi.
À part de prof de danse, j’était le seul mec : Les filles dans leur zénith de puberté
ont bien rigolé. J’ai persévéré jusqu’à la fin du cours et je suis jamais retourné.

La chanson d’été à Berlin c’était le [Party Rock Anthem] de LMFAO, qui est passé
sans cesse à la radio et dans les clubs. Le style de danse qui est frappant dans
la vidéo, c'est en fait le [Melbourne Shuffle]. Je trouvait ça très drôle et je cherché
sur l'internet où on pourrait l’apprendre. J’ai raté quelques intitiations pour les
Flashmobs, mais on m’a invité à passer sur les rencontres hebdomadaires qui avaient
lieu à l'Alexandplatz. Quand je suis arrivé, j’ai reconnu le groupe de loin :
Très jeunees, tous habillé en noir, chacun avec des cloppes (ou d’autre chose) et
un bonne partie avec des carlins. Ce jour là, ils s’ont fait très peu de l'entraînement
en Jump Style. J’ai tourné les talons sans leur avoir parlé.

## Tango Argentin

<%= figure_tag '/images/tango-band-2012.jpg', title: 'Groupe de Tango avec des Bandoneon, Berlin' %>{:.pull-right}
Quelques semaines plus tard, début d'automne, j’ai fait la connaissance d’une nouvelle
arrivante à Berlin de Russe que j’ai rencontré sur une des nombreux activités mis en place
par la communauté Couchsurfing dans laquelle je me suis beaucoup engagé à cette époque là.
Avec son esprit mondial, son charme et son manque d'égards, elle m’a vraiment impressionné.
D’un côté, c’était très stupide, d’un autre côté, c’était une expérience pour la vie. Je
n’ai pas beaucoup étudié pendent ces mois. Elle avait aussi déjà fait quelques cours de Tango
et – sachant que Berlin est le haut-lieu de Tango Argentin en Europe[^2] – elle s’est
lancé dans Tango à grand élan – et moi, j’ai la accompagné. On a dancé le Tang deux voire trois
fois par semaine de Tango. Ma première vraie danse, c’était avec elle. J’ai beaucoup aimé.

Cette temps ne dura pas très longtemps. À la fin de son Erasmus, nous n’avons plus parlé ni
dansé. Je n’avais pas progressé aussi vite qu’elle et elle m’a laissé tombé. J’étais
toujours plus ou moins jaloux/amoureux et il y avait des disputes. De cette temps là,
il y a deux comic [(1)] et [(2)] que j’ai dessiné et publié.

[^2]: Oui, c’est vrai. À Paris il y a aussi une communauté de Tango qui est assez large.
[(2)]: /2012/09/28/leichtigkeit/
[(1)]: /2013/01/06/quantifying_someones_character/

## Danser partout

<%= flickr_tag 14810712952, size: 'm', title: 'Herräng Dance Camp 2014, Suède' %>{:.pull-left}
En 2013 et 2014, j’ai beaucoup voyagé. Souvent, j’ai assisté à des cours de danse.
C’est devenu une habitude `:)`. J’ai dansé du Tango à Baie-Mahault en Guadeloupe. Sur la
même île, j’ai essayé aussi quelques danse folklorique sur les soirées après des
répétitions chorale. Mon premier essaie de Salsa suivait. J’en ai fait plusieurs
pendant les voyages dans les mois suivantes en Amérique Centrale.

Avec un peu de retard, mes amis Berlinois ont aussi fini par découvrir la danse.
Dommage que je n’habite plus là-bas.

J’ai quand même gardé cet esprit. Depuis j’habite à Lyon, j’ai pris des cours de
Rock et de Salsa pendant quelques mois. J’ai découvert que je préfère toujours le
Tango. J’ai même eu la chance de assister un cours de danse classique, que j’ai
bien aimé – ce n'est pas trop loin du Tango `;)`.

Par hasard, je suis en bonne compagnie au boulot, ce que je trouve déjà un peu
particulier sachant que l’on est tous dans le domaine informatique. Mes deux
collègues de bureau font du Lindy (un depuis longtemps) et c’est vachement sympa.

<div class="clearfix" />


> 'Cause your friends don't dance and if they don't dance   
> Well they're, no friends of mine
> {::nomarkdown}<footer>extrait de paroles de <cite title="Safety Dance">» Safety Dance «</cite></footer>{:/nomarkdown}

## Dansez !

Ça fait environ 10 ans, que l’on est sorti entre amis après l’école pour
essayer ce qui s’appelle » [Parkour] «. Notre ami le plus passionné a toujours
raconté que cela ne serait pas seulement un sport, mais une » Lebenseinstellung « – une attitude
de vie. Avec la danse, c’est pareil et en fait, quelques fois le Parkour semble
comme une danse.

Pour moi, danser, c’est oser, la grande découverte de vie société comme il est
déjà décrit par Hermann Hesse dans son livre [Le Loup des steppes] – lisez le
si vous ne le connaissez pas encore !

Il ne faut pas hésiter. Il est jamais trop tard pour quelqu’un qui n’a pas encore commencé,
mais une fois quand vous avez trouvé vos passions, vous souhaitez les avoir découvertes
plus tôt. Il n'est pas évident de savoir ce qui nous va nous rester.

Une fois, que l’on travaille, on est moins flexible. Si vous voulez attaquer des
nouveaux projets, enrichir votre horizon, le meilleurs moment, c’est
maintenant – ou peut-être après la retraite (qui n’est pas sûr). Et commencer
de danser comme rentier, c’est chiant : On a peut-être plus de temps, mais on est
(physiquement) moins flexible !

Enfin, je vous invite à découvrir la vidéo ci-dessus » Safety Dance «. Petit exercice :
Trouvez les mots français ! Vous trouverez les paroles écrit (anglais/français)
[ici](http://les-paroles-de-chansons.com/chanson/montrer/459215/donnas/paroles-et-traduction-de-chanson-safety-dance/).


*Dédie à mon frère et à une connaissance qui préférait attendre avant d’apprendre à danser.*
{:.text-right}


<div class="thumbnail" markdown="0" style="max-width:100%; position: relative; padding-bottom: 56.25%;height: 0; overflow: hidden">
<iframe width="960" height="720" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube-nocookie.com/embed/AjPau5QYtYs?rel=0" frameborder="0" allowfullscreen></iframe>
</div>



{::comment}
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/29029274&amp;color=cb4d51&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
{:/comment}

[My Love ft. T.I.]: http://youtu.be/xjpe7EGyiw8?t=1m54s "Justin Timberlake - Medley: Let Me Talk To You/My Love ft. T.I."
[Party Rock Anthem]: http://youtu.be/KQ6zr6kCPj8?t=3m39s "LMFAO - Party Rock Anthem ft. Lauren Bennett, GoonRock"
[Melbourne Shuffle]: https://fr.wikipedia.org/wiki/Melbourne_Shuffle
[Le Loup des steppes]: https://fr.wikipedia.org/wiki/Le_Loup_des_steppes
[Parkour]: https://fr.wikipedia.org/wiki/Parkour