  <h2 class='block'>Site Search</h2>
  <div id="searchcontrol">Loading...</div>
  <script src="http://www.google.com/jsapi?key=ABQIAAAAWNT6Vpf-vVCzxivHrd6mSxRpulNDxdY2d75Liqq2AkWlsfnJpxQyG7acJUSB7FKWdMJmxdvKnSvujA" type="text/javascript"></script>
  <script type="text/javascript">
  //<![CDATA[

  google.load("search", "1");

  function OnLoad() {
    // Create a search control
    var searchControl = new google.search.SearchControl();
    google.search.Search.LINK_TARGET_SELF

    // Add in a full set of searchers
    // var localSearch = new google.search.LocalSearch();
    // searchControl.addSearcher(localSearch);
    var siteSearch = new google.search.WebSearch();
    siteSearch.setUserDefinedLabel("saLOUt.github.com");
    siteSearch.setSiteRestriction("salout.github.com");
    options = new google.search.SearcherOptions();
    options.setExpandMode(google.search.SearchControl.EXPAND_MODE_OPEN)
    searchControl.addSearcher(siteSearch, options);
    searchControl.setLinkTarget(siteSearch.LINK_TARGET_SELF)
    // searchControl.addSearcher(new google.search.WebSearch());
    // searchControl.addSearcher(new google.search.VideoSearch());
    //s earchControl.addSearcher(new google.search.BlogSearch());

    // Set the Local Search center point
    // localSearch.setCenterPoint("New York, NY");

    // Tell the searcher to draw itself and tell it where to attach
    searchControl.draw(document.getElementById("searchcontrol"));

    // Execute an inital search
    // searchControl.execute("Google");
  }
  google.setOnLoadCallback(OnLoad);

  //]]>
  </script>