
@import "my-fonts";

// custom cover image in post-webcomic layouts
.content.layout-post-webcomic .aspect-ratio img {
  object-fit: contain;
  background-color: inherit;
}

// allow the use of lead with flickr plugin
figure.lead {
  img {
    display: block;
    max-width: calc(100% + 2rem);
    width: calc(100% + 2rem);
    height: auto;
    border-radius: .5rem;
  }
}

img.emoji {
  width: 20px;
  height: 20px;
  // vertical-align: middle;
  display: initial;
  margin-bottom: initial;
}

.content {
  audio {
    width: 100%;
    display: block;
  }
}

.bibliography li span::after {
  content: ' ';
}

/*
   Type
   ========================================================================== */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

/*
   Alignment
   ========================================================================== */

/* clearfix */

.cf {
  clear: both;
}

/* image align left */

.align-left {
  display: block;
  margin-left: auto;
  margin-right: auto;

  // @include breakpoint($small) {
    float: left;
    margin-right: 1em;
  // }
}

/* image align right */

.align-right {
  display: block;
  margin-left: auto;
  margin-right: auto;

  // @include breakpoint($small) {
    float: right;
    margin-left: 1em;
  // }
}

/* image align center */

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
   Responsive Video Embed
   ========================================================================== */

.responsive-video-container {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// full screen video fixes
:-webkit-full-screen-ancestor {
  .masthead,
  .page__footer {
    position: static;
  }
}
