---
title: About Me
layout: page
---
<%
  content_for(:sidebar) do
    [
      # partial("aside/recent-posts"), 
      partial("aside/recent-tweets"),
      partial("aside/affiliated-with"), 
    ].join
  end
%>

<%= figure_tag '/images/me.jpg', title: "That's me." %>
{:.pull-right}

# About Me

> *humanist, moralist, physicist, and cosmopolitan from Berlin*

I studied physics in Berlin (Germany) at the Humboldt University.
Since 2013 I'm a PhD student at the University of Aix-Marseille (France).

In my spare time I like to go dancing, to sing (a-capella) or to play guitar.
Recently I discovered Tango Argentino for me – more styles to follow.
I like the most kinds of sports, i.e. volleyball, swimming, skating, jogging, badminton,
skiing etc.

I'm a proud promoter of Free (as in libre) Software, Couchsurfing and a fan of
a united Europe.

## Contact

Mail

: <robert@riemann.cc> <br>
  pgp fingerprint[^1]: `F6A9 332D AA28 625E 59A8  F758 7BF6 0F4A 861B C3A3`
{: style="margin-bottom:0" }
  
<div class="row">
<div class="col-md-6 col-sm-6">

jabber

: <rriemann@jabber.ccc.de>

Facebook

: [rriemann](https://www.facebook.com/rriemann)

Google

: [+RobertRiemann](https://google.com/+RobertRiemann?rel=author)

Twitter

: [@rriemann_eu](https://twitter.com/rriemann_eu)

CouchSurfing

: [saLOUt](http://www.couchsurfing.org/people/salout)
{: style="margin-top:0" }

</div>
<div class="col-md-6 col-sm-6">

IRC (freenode)

: rriemann on [#suse](irc://chat.freenode.org/suse),
  [#opensuse-de](irc://chat.freenode.org/opensuse-de),
  [#kde](irc://chat.freenode.org/kde),

Flickr

: [saloutions](https://www.flickr.com/photos/27621704@N07/)

Last.fm

: [saLOUt](https://www.last.fm/user/saLOUt)

GitHub

: [rriemann](http://github.com/rriemann)
{: style="margin-top:0" }

</div>
</div>

## About This Site

This site is built using the [Middleman](//middlemanapp.com/)
static site generator and hosted on [GitHub](http://github.com/).
The source code used to create this website is [publicly available on GitHub](https://github.com/rriemann/rriemann.github.io/tree/source) as well.

## Note on Copyright

If not otherwise noted, the content of this website is published under the terms of the
[Creative Commons BY-NC-SA 3.0 license][cc].

[cc]: http://creativecommons.org/licenses/by-nc-sa/3.0/ "Creative Commons Attribution-NonCommercial-ShareAlike 2.0 Generic"
[^1]: Pretty Good Privacy: <http://en.wikipedia.org/wiki/Pretty_Good_Privacy> 
