---
title: About Me
layout: page
---
<%
  content_for(:sidebar) do
    [
      # partial("aside/recent-posts"), 
      partial("aside/recent-tweets"),
      # partial("aside/blog-roll"), 
      partial("aside/affiliated-with"), 
    ].join
  end
%>

<%= figure_tag '/images/me.jpg', title: "That's me." %>{:.pull-right}

# About Me

> *humanist, moralist, physicist, and cosmopolitan from Berlin*

I studied physics in Berlin (Germany) at the Humboldt University.
Since then, I'm a PhD student/assistant lecturer in Computer Science in France.

In my spare time I like to go dancing, to sing (a-capella) or to play guitar.
I'm a Tango Argentino, and Charleston/Swing dancing enthusiast.
I like the most kinds of sports, i.e. volleyball, swimming, skating, jogging, badminton,
skiing etc.

I'm a proud promoter of Free (as in libre) Software, Couchsurfing and a fan of
a united Europe.

## Contact

Mail

: <robert@riemann.cc> <br>
  pgp fingerprint[^1]: `748F FAD5 40A1 FC46 4035  140A E2F5 D37D 8CA0 510F` ([Download][gpg-file], [Keybase Proofs][keybase])
{: style="margin-bottom:0" }
  
<div class="row">
<div class="col-md-6 col-sm-6">

Facebook

: [rriemann](https://www.facebook.com/rriemann)

Twitter

: [@rriemann_eu](https://twitter.com/rriemann_eu)

GitHub

: [rriemann](http://github.com/rriemann)

CouchSurfing

: [saLOUt](http://www.couchsurfing.org/people/salout)

Google

: [+RobertRiemann](https://plus.google.com/+RobertRiemann?rel=author)

Telegram

: [rriemann](https://telegram.me/rriemann)
{: style="margin-top:0" }

</div>
<div class="col-md-6 col-sm-6">

Keybase

: [rriemann][keybase]

LinkedIn

: [rriemann](https://www.linkedin.com/in/rriemann/)

Flickr

: [saloutions](https://www.flickr.com/photos/27621704@N07/)

IRC (freenode)

: rriemann on [#suse](irc://chat.freenode.org/suse),
  [#opensuse-de](irc://chat.freenode.org/opensuse-de),
  [#kde](irc://chat.freenode.org/kde)

jabber

: <rriemann@jabber.ccc.de>

Last.fm

: [saLOUt](https://www.last.fm/user/saLOUt)
{: style="margin-top:0" }

</div>
</div>

## About This Site

This site is built using the [Middleman](//middlemanapp.com/)
static site generator and hosted on [Uberspace](https://uberspace.de/).
The source code used to create this website is [publicly available on GitHub](https://github.com/rriemann/blog/) as well.

{::comment}
{:/comment}

## About Data Privacy

{::nomarkdown}
<!-- Modal -->
<div class="modal fade" id="optout" tabindex="-1" role="dialog" aria-labelledby="optoutLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="optoutLabel">Tracking Opt-Out</h4>
      </div>
      <div class="modal-body">
        <iframe style="border: 0; height: 250px; width: 100%;" src="https://rriemann.rigel.uberspace.de/piwik/index.php?module=CoreAdminHome&action=optOut&language=<%= I18n.locale %>"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{:/nomarkdown}

This blog uses an inhouse traffic analytics solution called [Piwik](https://piwik.org/).
The *do-not-track* [browser setting](http://donottrack.us/) is respected.
Check out the browser plug-in [Ghostery](https://www.ghostery.com/) to prevent tracking on every site.

{::nomarkdown}

<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#optout" id="optoutbutton">
  Opt-Out
</button>
<noscript>
  <iframe style="border: 0; height: 250px; width: 100%;" src="https://rriemann.rigel.uberspace.de/piwik/index.php?module=CoreAdminHome&action=optOut&language=<%= I18n.locale %>"></iframe>
</noscript>
{:/nomarkdown}



## Note on Copyright

If not otherwise noted, the content of this website is published under the terms of the
[Creative Commons BY-NC-SA 3.0 license][cc].

[cc]: http://creativecommons.org/licenses/by-nc-sa/3.0/ "Creative Commons Attribution-NonCommercial-ShareAlike 2.0 Generic"
[^1]: Pretty Good Privacy: <http://en.wikipedia.org/wiki/Pretty_Good_Privacy> 
[gpg-file]: <%= site_url %>/files/rriemann.asc
[keybase]: https://keybase.io/rriemann
