<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif:400,700,700italic|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
{% if page.categories contains 'central-america' %}
<link href="{{ root_url }}/stylesheets/central-america.css" media="screen, projection" rel="stylesheet" type="text/css">
{% endif %}

<link rel="stylesheet" href="{{ root_url }}/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ root_url }}/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />

<script type="text/javascript" src="{{ root_url }}/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="{{ root_url }}/fancybox/jquery.fancybox.pack.js?v=2.1.4"></script>
<script type="text/javascript" src="{{ root_url }}/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="{{ root_url }}/fancybox/helpers/jquery.fancybox-media.js?v=1.0.5"></script>
<script type="text/javascript" src="{{ root_url }}/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>