<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/archives">Archives</a></li>
  <li><a href="http://github.com/saLOUt">Code</a></li>
  <li><a href="http://www.flickr.com/photos/27621704@N07/">Photos</a></li>
<!--   <li><a href="http://www.lastfm.de/user/saLOUt">Music</a></li> -->
  <li><a href="http://www.facebook.com/rriemann">Facebook</a></li>
  <li><a href="http://www.couchsurfing.org/people/salout">Couchsurfing</a></li>
  <li><a href="http://people.physik.hu-berlin.de/~rriemann/">Files</a></li>
  <li><a href="{{ root_url}}/about/">About</a></li>
</ul>