// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
$twitter-status-link: lighten($sidebar-link-color-subdued, 15) !default;
@import "twitter";
article dt {
    font-weight: bold;
}
article dd {
    padding-left: 2em;
}
dd code {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    color: #555555;
    display: inline-block;
    font-size: 0.8em;
    line-height: 1.5em;
    margin: -1px 0;
    padding: 0 0.3em;
}
img {
  background-color: white;
  &.noborder {
    border: 0 none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background-color: inherit;
  }
  &.webcomic {
    /* max-width: 730px; */
    max-width: 100%;
    /* width: 100%; */
  }
}
.footnotes {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") repeat-x scroll left top transparent;
  padding: 1em;
  clear: both;
  font-size: 80%;
  ol {
    margin-left: 3em;
  }
}
html {
    background: none repeat scroll 0 0 #252525;
}
/*
body > nav form {
    padding-top: 0.15em;
    width: 190px;
}
body nav[role="navigation"] {
    padding-right: 0.5em;
}
*/
header hgroup h1 a {
    text-transform: lowercase;
    font-style: italic;
    font-weight: 700;
}
header hgroup h1, header hgroup h2 {
    display: inline;
}

div#content > div, #archive #content > div {
  padding-top: 2em;
}

div#content > div.blog-index {
  background-color: inherit;
  padding-top: 0;
}

div#content > div > article > header {
  background: none;
  padding-bottom: 0;
}

article.hentry, article {
  padding-top: 0;
}

h1.entry-title {
  font-size: 2.2em;
}

/*article .youtube-player {
    @include shadow-box;
}*/

article .flash-video {
  display: inline-block;
}

.gist .gist-file .gist-data .line-data {
  width: 100%;
}

.blog-index {
  #markdown-toc, sup[id*="fnref"] {
    display: none;
  }
}

#markdown-toc:before {
  content: "Table of Contents";
  font-weight: bold;
}
ul#markdown-toc {
  list-style: none;
  float: right;
  margin-left: 0.5em;
  @include shadow-box;
  background-color: white;
}

figure {
  @include shadow-box;
  display: inline-block;
  max-width: 100%;
  &.code {
    width: 100%;
  }
  margin: 0.5em 0;
  background-color: white;
  figurecaption {
    background-color: white;
    font-size: 80%;
  }
  img, div.flash-video {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    margin: 0 auto 0;
  }
  &.right {
    float: right;
    margin-left: 0.5em;
  }
  &.left {
    float: left;
    margin-right: 0.5em;
  }
  &.center {
     margin-left: auto;
     margin-right: auto;
  }
}

body div#fancybox-thumbs {
  background: inherit;
}

/*
.fancybox-wrap { position: fixed !important; }
.fancybox-opened {
-webkit-border-radius: 4px !important;
-moz-border-radius: 4px !important;
border-radius: 4px !important;
}
.fancybox-close, .fancybox-prev span, .fancybox-next span {
background-color: transparent !important;
border: 0 !important;
}
*/

a.dsq-widget-user, a.disq-widget-user:link {
  text-decoration: none;
}

ul, ol {
  margin-left: 1.3em;
}

body {
  overflow-y: visible;
  margin: 0 auto !important; // fix for FancyBox
}
